body,
html {
  width: 100%;
  height: 100%;
}

img {
  float: left;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

#navbar-bootstrap {
  background-color: #fec23e !important;
}
#navbarNav {
  display: flexbox !important;
  background-color: #fec23e !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.borderMix {
  border-style: groove !important;
  border-width: 20px !important;
  border-color: rgb(85, 202, 241) !important;
}

.borderMix1 {
  border-style: inset !important;
  border-width: 20px !important;
  border-color: rgb(85, 202, 241) !important;
}
.borderMix2 {
  border-style: dashed !important;
  border-width: 20px !important;
  border-color: #10c0d4 !important;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: #fff;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-bottom: 8rem;
  background-color: #062b64 !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead3 {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-bottom: 8rem;
  background-color: #fec23ebd !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead1 {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-bottom: 8rem;
  background-color: #fec23ebd !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead2 {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.1) 100%
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead1 {
    height: 100vh;
  }

  .masthead h1 {
    font-size: 5.5rem;
  }
}

#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: rgba(174, 7, 7, 0.89) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: 0 0;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #10c0d4;
  color: #ffffff;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.my-serv-app-icon {
  background-image: "../img/AppLogo.png";
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

/*.callout {*/
/*padding: 15rem 0;*/
/*background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%), url();*/
/*background-position: center center;*/
/*background-repeat: no-repeat;*/
/*background-size: cover*/

/*}*/

/*.callout h2 {*/
/*font-size: 3.5rem;*/
/*font-weight: 700;*/
/*display: block;*/
/*max-width: 30rem*/
/*}*/

a {
  color: #1d809f;
}

a:active,
a:focus,
a:hover {
  color: #155d74;
}
.btn-volunteer {
  background-color: #062b64 !important;
  color: #fec23e !important;
  height: fit-content;
  grid-area: menu;
  border-radius: 25px;
  margin-top: auto;
  margin-left: 1rem;
}

.btn-primary {
  background-color: #1d809f !important;
  border-color: #1d809f !important;
  color: #fff !important;
}
.btn-pay {
  background-color: #062b64;
  margin-left: 0.02rem;
  color: #fff !important;
}
.btn-download {
  background-color: #10c0d4 !important;
  border-color: #1d809f !important;
  color: #fff !important;
}

.btn-primary1 {
  background-color: #062b64 !important;
  border-color: #1d809f !important;
  color: #fec23e !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary1 {
  background-color: rgba(174, 7, 7, 0.89);
}

.text-primary {
  color: #1d809f !important;
}

.text-secondary {
  color: #ecb807 !important;
}

/* Refactor Below  */

.fa,
.fas {
  font-weight: 900;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}

.grid-container1 {
  display: menu;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}

.aboutMeHeaderStyles {
  grid-area: main;
  color: #fff;
  font-style: oblique;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  padding: 1em;
  font-family: adobe-caslon-pro;
  text-decoration: underline overline;
}
.aboutMeHeaderStyles1 {
  grid-area: main;
  color: #062b64;
  font-style: oblique;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  padding: 1em;
  font-family: adobe-caslon-pro;
  text-decoration: underline;
}
.importTextStyles {
  text-decoration: underline overline;
}
.sliderStyles {
  grid-area: menu;
  margin: 1em;
}
.sliderStyles1 {
  grid-area: right;
  border-radius: 25px;
}
.sloganHeaderStyles {
  grid-area: menu;
  color: #2d5188 !important;
  font-style: italic;
  font-weight: 200;
  font-size: 2em;
  padding: 0.3em;
  font-family: adobe-caslon-pro;
  text-decoration: underline;
  margin: 0.2em;
}
.qrCodeStyles {
  grid-area: menu;
  border-radius: 25px;
  src: url(../img/QR\ Code.png);
  margin-top: auto;
}
.headShotstyles {
  grid-area: main;
  border-radius: 25px;
  src: url(../img/photo2.jpg);
  margin: 1.5rem;
}

.headShotstyles1 {
  grid-area: main menu;
  border-radius: 45px;
  margin-top: auto;
  src: url(../img/photo3.jpg);
}

.blockquote {
  grid-area: header;
  background: #fec23e !important;
  border-left: 10px solid #ccc;
  margin: 1.5em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.blockquote:before {
  color: #2d5188;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}

.blockquote3 {
  grid-area: header;
  background: #2d5188 !important;
  border-left: 10px solid #ccc;
  margin: 1.5em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: center;
  font-size: xx-large;
}
.blockquote3:before {
  color: #fec23e;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
.blockquote3 p {
  display: inline;
}
.aboutMeStyles {
  align-items: center;
  column-count: 1;
  font-weight: 200;
  background-color: #2d5188;
  padding: 0.5rem;
  width: 500px;
  height: fit-content;
  border-radius: 25px;
  margin: 2em;
  font-family: adobe-caslon-pro;
  text-align: center;
  color: #fff;
}

/* on my calculator */
h1 {
  font-size: 1.8rem;
}
p,
div {
  font-size: 0.2rem;
  font-weight: 900;
  color: #062b64;
}

/* On the projector */
@media screen and (min-width: 70rem) {
  h1 {
    font-size: 3.6rem;
  }
  p,
  div {
    font-size: 1rem;
  }
}

main {
  max-width: 900px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: auto auto 100px auto;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
  margin-top: 0;
  padding: 5px;
}
li {
  font-family: adobe-caslon-pro;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.02em;
  display: table-cell;
  position: relative;
  margin: 0 auto;
  width: 50%;
  /*padding:10px;*/ /*Testing on centering the main top list-nav*/
}
a {
  color: #062b64 !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  letter-spacing: 0.15em !important;

  display: inline-block;
  padding: 15px 10px;
  position: relative;
}
#a-message {
  text-decoration: none;
  text-transform: none;
  font-size: 20px;
  padding: 0;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 768px) {
  div {
    font-size: 1.5rem;
  }

  li {
    margin-left: 0rem;
    /*padding:10px;*/ /*Testing on centering the main top list-nav*/
  }
}
@media only screen and (max-width: 1024px) {
  p,
  div {
    font-size: 0.75rem;
  }

  a {
    margin-left: 0rem;
  }

  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/*Responsive Design for big screens*/

/*iPhone 11 Resolution*/
@media only screen and (min-width: 600px) and (orientation: portrait) {
  .head img {
    margin-top: 100px;
  }
  div {
    font-size: 1.5rem;
  }
  ul li {
    display: flex;
    text-align: center;
    margin-right: auto;
    margin-top: 100px;
    width: 40%;
    height: 2px;
  }
  #myImg,
  #myImg1,
  #myImg2,
  #myImg3 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  #footer p {
    display: inline-flexbox;
    margin-right: 30px;
    margin-left: 40px;
    width: 20%;
    height: 2px;
    font-size: 20px;
  }
  .modal {
    width: 50%;
    display: none;
    margin-left: 48%;
    margin-right: 48%;
  }
}
/*iPad 10.2(2019)*/
@media only screen and (min-width: 810px) and (orientation: portrait) {
  .head img {
    margin-top: 100px;
  }
  ul li {
    display: flex;
    text-align: center;
    margin-right: auto;
    margin-top: 100px;
    width: 40%;
    height: 2px;
  }
  #myImg,
  #myImg1,
  #myImg2,
  #myImg3 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  #footer p {
    display: inline-flexbox;
    margin-right: 30px;
    margin-left: 40px;
    width: 40%;
    height: 2px;
    font-size: 20px;
  }
}

/* SLIDESHOW STYLES */
.slideshow-container {
  grid-area: main;
  font-weight: 200;
  background-color: transparent;
  border-radius: 25px;
  margin: 2em;
  font-family: adobe-caslon-pro;
  text-align: center;
  color: #fff;
}
